output/
!viewer/output
viewer/output/*/*.pdf
__pycache__
python/.env
.env

# This folder is for various notebooks and stuff I want handy while developing
workbench/

# Ignore all files inside the notebook folder except jupyter notebooks.
notebooks/*.*
notebooks/*/*
!notebooks/*/*.ipynb
!notebooks/readme.md


# Always include igniore files

!.gitignore
.vscode/settings.json
