{% extends 'base.html' %}

{% block title %}TAIC Document Searcher{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/results.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block content %}
    <form method="post" id="searchForm" action="/search">
        <p id="searchErrorMessage" style="display: none;"></p>
        <div class="row">
            <input type="search" size="30" id="searchQuery" name="searchQuery" placeholder="Enter search query" autocomplete="on" autofocus>  
            <button type="button" id="advancedSearchBtn">Search settings</button>
            <button type="reset" id="resetBtn">Reset</button>    
            <input type="submit" value="Search">
        </div>
        <div id="advancedSearch">
            <div class="row">
                <div id="agencies" class ="advancedSearchSection">
                    <h5>Agencies</h5>
                    <div class="checkbox-group required">
                        <label><input type="checkbox" name="includeTAIC" checked>TAIC</label>
                        <label><input type="checkbox" name="includeATSB">ATSB</label>
                        <label><input type="checkbox" name="includeTSB">TSB</label>
                    </div>
                </div>

                <div id="transportModes" class="advancedSearchSection">
                    <h5>Transport Modes</h5>
                    <div class="checkbox-group required">
                        <label><input type="checkbox" name="includeModeAviation" checked>Aviation</label>
                        <label><input type="checkbox" name="includeModeRail" checked>Rail</label>
                        <label><input type="checkbox" name="includeModeMarine" checked>Marine</label>
                    </div>
                </div>
                <div id="reportYearRange" class="advancedSearchSection">
                    <h5>Report year range</h5>
                    <div id="yearSlider"></div>
                </div>
            </div>
            <div class="row">
                <div id="relevanceCutoff" class="advancedSearchSection">
                    <h5>Relevance cutoff</h5>
                    <div class="relevanceCutoffSliderWrapper">
                        <label for="relevanceCutoffSlider" id="relevanceCutoffSliderLabel">0.6</label><br>
                        <input type="range" name="relevanceCutoff" min="0" max="1" value="0.6" class="slider" step ="0.01" id="relevanceCutoffSlider">
                    </div>
                </div>
                <div id="documentTyes" class="advancedSearchSection">
                    <h5>Document Types</h5>
                    <div class="checkbox-group required">
                        <label><input type="checkbox" name="includeSafetyIssues" checked>Safety issues</label>
                        <label><input type="checkbox" name="includeRecommendations" checked>Recommendations</label>
                        <label><input type="checkbox" name="includeReportSection" checked>Report sections</label>
                        <label><input type="checkbox" name="includeImportantText">Entire report</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <br>
    <!-- Loading sign with spinning animation -->
    <div id="loading">
        <br><br>
        <img src="static/loading.gif" height="250">
        <br>
        <p id="loadingDesc"></p>
        <p id="loadingDuration"></p>
    </div>

    <!-- Placeholder for displaying search results -->
    <div id="searchResults" style="display: none;">
        <h2>Search Results</h2>
        <div id="resultButtons" class="resultsSection">
            <button type="button" id="downloadCSVBtn_results" >Download CSV</button>
        </div>
        <div id="searchResultsSummary" class="resultsSection">
            <h3>Summary of Search (AI generated)</h3>
            <p><em>This summary is AI generated so it has no guarantee of correctness.</em></p>
            <div id="searchResultsSummaryText"></div>
        </div>
        <div class="resultsSection">
            <button type="button" id="toggleResultsSummaryInfo">Toggle summary info</button>
            <div id="searchResultsSummaryInfo">
                <h4>Results summary</h4>
                <div id="resultsSummaryText"></div>
                <div id="resultsSummaryVisuals">
                    <div id="MostCommmonDocumentTypes" class="resultsSummaryInfoSection"></div>
                    <div id="MostCommonEventTypes" class="resultsSummaryInfoSection"></div>
                    <div id="YearHistogram" class="resultsSummaryInfoSection"></div>
                    <div id="ModePieChart"class="resultsSummaryInfoSection"></div>
                    <div id="AgencyPieChart" class="resultsSummaryInfoSection"></div>
                </div>
                </div>
            <h3>Detailed search results</h3>
            <p><em>These are the relevant results from the search of the database, there is a no guarantee of its completeness.</em></p>
            <p id="quickSearchSummary"></p>
            <div id="searchResultsTableWrapper"></div>
        </div>
    </div>

{% endblock %}
