<!DOCTYPE html>
<html>
<head>
    <title>TAIC Report Viewer</title>
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables CSS and JavaScript -->
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fc-4.3.0/fh-3.4.0/kt-2.11.0/datatables.min.css" rel="stylesheet">
 
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.8/fc-4.3.0/fh-3.4.0/kt-2.11.0/datatables.min.js"></script>
    
    

    
    <!-- Custom Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- Custom JavaScript-->
    <script type="text/javascript" src="/static/js/main.js"></script>
    
</head>
<body>
    <h1>TAIC Report Viewer</h1>
    <form method="post" action="/search">
        <label for="searchQuery">Search Query:</label>
        <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter search query">
        <button type="button" id="advancedSearchBtn">Search settings</button>
        <div id="advancedSearch">
            <label><input type="checkbox" id="simpleSearch" name="simpleSearch">Simple Search</label>
            <label><input type="checkbox" id="searchReport"  name="searchReport" checked>Search Report</label>
            <label><input type="checkbox" id="searchSummary"  name="searchSummary" checked>Search Summary</label>
            <label><input type="checkbox" id="includeIncompleteReports"  name="includeIncompleteReports" checked>Include Incomplete reports</label>
        </div>
        <br>
        <input type="submit" value="Show Reports">
    </form>

    <!-- Loading sign with spinning animation -->
    <div id="loading"><br><br>Loading...</div>

    <!-- Placeholder for displaying search results -->
    <div id="searchResults"></div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <h3 id="modalTitle"></h3>
                <span class="close" id="closeModal">&times;</span>
            </div>
            <div id="modalContent" class="scrollable-content">
            </div>
        </div>
    </div>
    
</body>
</html>
