<!DOCTYPE html>
<html>
<head>
    <title>TAIC Report Viewer</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>



    
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <!-- Custom Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- Custom JavaScript-->
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
    <h1>TAIC Report Viewer</h1>
    <form method="post" id="searchForm" action="/search">
        <input type="text" id="searchQuery" name="searchQuery" placeholder="Enter search query">
        <div class="row">
            <button type="button" id="advancedSearchBtn">Search settings</button>
            <button type="reset" id="resetBtn">Reset</button>    
        </div>
        <div id="advancedSearch">
            <div id="generalCheckboxes" class="advancedSearchSection">
                <h5>General</h5>
                <label><input type="checkbox" id="useSynonyms" name="useSynonyms">Use Synonyms</label>
                <label><input type="checkbox" id="searchReport"  name="searchReport" checked>Search Report</label>
                <label><input type="checkbox" id="searchSummary"  name="searchSummary" checked>Search Summary</label>
                <label><input type="checkbox" id="searchWeightingReasoning"  name="searchWeightingReasoning" checked>Search weighting</label>
                <label><input type="checkbox" id="includeIncompleteReports"  name="includeIncompleteReports" checked>Include Incomplete reports</label>
            </div>
            <br>
            <div class="row">
                <div id="transportModes" class="advancedSearchSection">
                    <h5>Transport Modes</h5>
                    <label><input type="checkbox" name="includeModeAviation" checked>Aviation</label>
                    <label><input type="checkbox" name="includeModeRail" checked>Rail</label>
                    <label><input type="checkbox" name="includeModeMarine" checked>Marine</label>
                </div>
                <div id="reportYearRange" class="advancedSearchSection">
                    <h5>Report year range</h5>
                    <div id="yearSlider"></div>
                </div>
            </div>

            <br>
            <div class="advancedSearchSection">
                <h5>Theme weightings</h5>
                <div id="themeSliders"></div>
            </div>
        </div>
        <br>
        <input type="submit" value="Search">
    </form>

    <br>
    <br>
    <!-- Loading sign with spinning animation -->
    <div id="loading"><br><br>Loading...</div>

    <!-- Placeholder for displaying search results -->
    <div id="searchResults">
        <div id="searchResultsHeader">
            <h3>Search Results</h3>
            <button type="button" id="downloadResultsSummary" >Download summary PDF</button>
            <button type="button" id="downloadCSVBtn_results" >Download CSV</button>
            <button type="button" id="downloadCSVBtn_safety_issues" >Download Safety Issues</button>
            <button type="button" id="downloadCSVBtn_si_recs_links" >Download Recommendations and Safety issue links</button>
        </div>
        <div id="searchResultsTableWrapper"></div>
    </div>

    <div id="modalContainer">
        <div id="modalContent">
            <div id="modalHeader">
                <h3 id="modalTitle"></h3>
                <span class="close" id="closeModal">&times;</span>
            </div>
            <div id="modalText" class="scrollable-content">
            </div>
        </div>
    </div>
    
</body>
</html>
