/*
============== FORM ================
*/
form, #searchResults {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: fit-content;
}


form label, form input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%; 
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#searchQuery {
    transition: width 0.3s ease;
}

/*
======== Loading sign =============
*/

#loading {
    display: none;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #333;
}

/*
======== Search settings =============i
*/

#advancedSearch {
    display: none;
    flex-direction: column;

    align-items: center;
}

.advancedSearchSection {
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#advancedSearchButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
button[type="reset"] {
    display: none;
}

input[type="text"], input[type="number"] {
    width: max(50%, 300px);
    border: 1px solid #ccc;
}

/*
===== Year slider =====
*/

#reportYearRange h5 {
    margin-bottom: 30px;
}

#reportYearRange .ui-slider-handle, 
.ui-slider-handle {
    width: 15px;
    height: 15px;
    text-align: center;
    width: fit-content;
    padding: 5px;
}

#reportYearRange .ui-slider-handle .handle-value {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 50px;
    text-align: center;
}

#yearSlider {
    margin: 12%;
}

.ui-slider-handle:active {
    cursor: grabbing;
    color: #3d3c3c;
    font-weight: bold;
}

.slider-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*
===== Modes =====
*/

#checkboxes {
    order: 1;
}


/*
===== Relevance slider =====
*/

#relevanceCutoffSlider {
    padding: 0;
}